{% extends 'base.html' %}
{% block title %}Tasks{% endblock title %}
{% block main %}
    <div class="container">
        <div id="map" style="max-width: 800px; max-height: 100vh; margin: 0 auto;">
            <div class="form">
                <form action="" method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </form>
            </div>
            <hr>
            <div class="location">
                {% if location %}
                   <h3> <strong>Location:</strong> {{ location }}</h3> 
                   <p> <strong>Time Zone:</strong> {{ time_zone }}</p>
                   <p> <strong>Service Provider:</strong> {{ service_provider }}</p>
                   <div id="map" style="max-width: 800px; max-height: 100vh; margin: 0 auto;">
                        {% if map %}
                            <strong>Map : </strong> {{ map|safe }}
                        {% else %}
                            <p>No map available.</p>
                        {% endif %}
                   </div>
                {% else %}
                    <p>No location available.</p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock main %}
{% block extra_scripts %}
    
{% endblock extra_scripts %}