{% extends 'base.html' %} 
{% load static %} 
{% block title %}Changes Password{% endblock title %} 
{% block main %}
  <!-- ============================ COMPONENT Changes Password   ================================= -->
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Changes Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="">
                
            </form>
        </div>
    </div>
  </div>
  <!-- ============================ COMPONENT Changes Password  END.// ================================= -->
{% endblock main %}
{% block extra_scripts %}
{% endblock extra_scripts %}